#gear
{
  width: 1500px;
  height: 1500px;
  rotate: 40deg;
  position: fixed;
  animation-name: gearSpin;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  z-index: -100;
  left: 950px;
  top: 300px;
}

#LogoMain{
  width: 70px;
  height: 70px;
  z-index: 100;
  left: 1760px;
  top: -6px;
  position: fixed;
}

#VersionFont
{
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0093a7;
}

.active {
  background-color: #04AA6D;
}

@keyframes gearSpin {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
  